{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Polls Application</title>

        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'polls/materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/materialize/css/materialize.css' %}">
        
    </head>
    <body>
                {% include "polls/header.html" %}
                <div class="section no-pad-bot" id="index-banner">
                    <div class="container">
                        {% block main_content%}

                        {% endblock %}
                    </div>
                  </div>
                
                {% include "polls/footer.html" %}
    </body>
</html>



