{% extends 'polls/base.html' %}
{% block main_content %}
<p> <a href="{% url 'polls:index' %}">Back to Questions!</a></p>
<h1 class="center">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post" class="center">
{% csrf_token %}
{% for choice in question.choice_set.all %}

    
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }}</label><br>

{% endfor %}
<br>
<div class="row">
    <div class="col-md-6">
        <button class="center" style="background-color:aquamarine; font-size: 20px; padding: 10px; border-radius: 8px;"> Vote</button>
    </div>
    

    
</div>

</form> 
<br><br><br><br><br><br><br><br><br>
{% endblock %}