{% extends 'polls/base.html' %}
{% block main_content %}
<br><br>
<h1 class="header center orange-text">Select Question?</h1>
<div class="row center">
    <h5 class="header col s12 light">
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            <br><br><br>
            {% endfor %}
        </ul>    
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </h5>
</div>
{% endblock%}