{% extends 'polls/base.html' %}
{% block main_content %}
<p> <a href="{% url 'polls:index' %}">Back to Questions!</a></p>
<br>
<h1>{{ question.question_text }}</h1>
<br>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li> <br><br>
    <br>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
<br> <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
{% endblock %}